[package]
name = "solfunmeme-dioxus"
version = "1.1.0"
authors = ["github-actions[bot] <github-actions[bot]@users.noreply.github.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# serde = { version = "1.0", features = ["derive"] }
#bs58 = "0.5"
#x25519-dalek = "2.0"
#chacha20poly1305 = "0.10"
#sha2 = "0.10"
#wallet-adapter = "1.1.2"
#wallet-adapter = { git = "https://github.com/meta-introspector/SolanaWalletAdapter-zos", branch ="master" }
#bincode = "2.0.1" breaks verions
#dioxus-testing = "0.5.1"
#uuid = "1.17.0"
#ring = "0.17.14"
# backend only sqlx = { version="0.8.3", features = [ "sqlite", "runtime-tokio", "tls-native-tls" ], optional = true}


aes-gcm = "0.10.3"
base64 = "0.22.1"
bincode = "1.3.3"
bip39 = "2.1.0"
bs58 = "0.5.1"
#chacha20poly1305 = "0.10.1"
chacha20poly1305 = "*"
chrono = "0.4.41"
#curve25519-dalek="*"
#zeroize="*"
#ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
console_log = "1.0.0"
dioxus = { version = "0.6.3", features = ["router"] }
dioxus-router = "0.6.3"
dioxus-web = "0.6.3"
dioxus-charts = { path = "../dioxus-charts" }

fastrand = "2.3.0"
getrandom = { version = "0.2.14", features = ["js"] }
gloo = "0.11.0"
gloo-net = "0.5.0"
gloo-storage = "0.3.0"
gloo-timers = { version = "0.3.0", features = ["futures"] }
gloo-utils = "0.2.0"
js-sys = "0.3.69"
jzon = "0.12.5"
log = "0.4.21"
markdown-meta-parser = "0.1.3"
nalgebra = "0.33.2"
nom = "8.0.0"
percent-encoding = "2.3.1"
pulldown-cmark = "0.13.0"
qrcodegen = "1.8.0"
rand = "0.9.1"
rand_core = { version = "0.6.4", features = ["std"] }
regex = "1.10.4"
reqwasm = "0.5.0"
reqwest = { version = "0.12.2", features = ["blocking", "json"] }
ring = { version = "0.17.14", features = ["wasm32_unknown_unknown_js"] }
ring-compat = "0.8.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10.9"
#solana-client = "*"
#solana-sdk = "1.18.11"
#solana-sdk = { version = "*" }
#solana-system-interface = "*"
#solana-transaction-error = { version = "*", features=["serde"] }

solana-system-interface = "1.0.0"
solana-sdk = { version = "2.3.0" }
solana-transaction-error = { version = "3.0.0-canary.7040146", features=["serde"] }

easer = "0.3.0"
syn = "2.0.103"		 
syn-serde = { git = "https://github.com/meta-introspector/syn-serde-rust", features = ["json"] }
thiserror = { version = "2.0.12" }
url = "2.5.4"
wallet-adapter = { git = "https://github.com/meta-introspector/SolanaWalletAdapter-zos", branch ="no-template" }
wasm-bindgen = { version = "0.2.92", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4.42"
wasm-logger = "0.2.0"
#web-sys = { version = "0.3.58", features = ["Storage"] }

web-sys = { version = "0.3.69", features = [
    "Window",
    "Storage",
    "Event",
    "InputEvent",
    "EventTarget",
    "HtmlInputElement",
    "KeyboardEvent",
] }



# 0.3.1
dioxus-motion = { git = "https://github.com/wheregmis/dioxus-motion" , branch = "main" }

[dependencies.x25519-dalek  ]
version = "2.0.1"
features = [ "static_secrets"]

[dependencies.uuid]
version = "1.17.0"
# Lets you generate random UUIDs
features = [
    "v4",
    "js","rng-getrandom","rng-rand"
]

[features]
default = ["web"]
web = ["dioxus/web"]
bincodev2 = []
bincodev1 = []



