[package]
name = "component_registry_lib"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
serde = { version = "1.0", features = ["derive"] }
dioxus = { version = "0.6.3", features = ["router"] }
core_data_lib = { path = "../core_data_lib" }
