[package]
name = "component_emoji_lib"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
component_registry_lib = { path = "../component_registry_lib" }
